*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #fffbf7;
    font-family: 'Open Sans', sans-serif;
}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
 
  }
  .header > * {
    display: inline-block;
    font-size: 16px;
  }
  .logo, .nav, .acciones{
      width: 33.33%;
      vertical-align: middle;
  }
 .logo img{
    display: block;
    float: left;
 }
 .acciones {
     text-align: right;
 }
 .nav ul{
     text-align: center;
 }
  li{
      display: inline;
      padding: 0px 10px;
  }
  a{
      text-decoration: none;
      color: #025157;
  }
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 1000;

  }
  main {
    margin-top: 285px;
    text-align: center;
  }
h1{
    color: #025157;
    font-family: 'Rammetto One', cursive;
    text-align: center;
    font-size: 40px;
    margin-bottom: 24px
}
h4{
    color: #46484c;
    text-align: center;

}
form{
    text-align: center;
padding:2%;
}
button{
    color: #fff;
    background-color: #025157;
}
.acciones{
    font-size: 14px;

}
.trial{
    background-color: #67b54b;
    padding: 12px 14px;
    border:0px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 15px;
}
.green{
    color: #67b54b;
}
p{
    text-align: center;
}
img{
    display: block;
    margin:0px auto;
}
input[type=email]{
    width: 250px;
    height: 55px;
    padding: 10px;
    border: 1px solid darkgrey;
    outline: 0px;
    border-radius: 8px 0px 0px 8px;
    margin-right: -3px;
}
button[type=submit]{
    width: 130px;
    height: 55px;
    padding: 10px;
    outline: 0px;
    border: 0px;
    border-radius: 0px 8px 8px 0px;
    margin-left: -2px;
    cursor: pointer;
}
.publish {
    /* container styles if any */
    flex: 1;
  }
  
  .publish h3 {
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
    flex:1;
  }
  .promo{
      display: flex;
      width: 70%;
      margin: 100px auto;
      align-items: center;
  }
  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }
  .features {
    display: grid;
    /* Column */
    /* grid-template-columns: 300px 300px; */
    /* grid-template-columns: repeat(2, 300px); */
    /* grid-template-columns: 500px 1fr;  Definimos una columna de 500px y la otra con el resto */
    /* grid-template-columns: 1fr 1fr; Definimos ambas columnas con el mismo espacio */
    /* grid-template-columns: repeat(2, 1fr); */
    /* Row */
    /* grid-template-rows: repeat(2, 330px); */
    /* height: 660px; */
    /* grid-template-rows: repeat(2, 1fr);   Si quiero usar medidas relativas se debe poner un height para hacer el calculo de la medida */
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    background-color: #025157;
    padding: 5% 10%;


  }
  .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
  align-items: center;
  overflow: hidden;
  }

  .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .feature-content img {
    width: 50px;
  }
  .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  .features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}    
.success-stories{
  background-color: #a1d683;
  display: flex;
  flex-direction: row;
}
.overview{
  flex: 2;
}
.overview > figure{
  width: 80%;
}
.overview > figure img{
  width: 500px;
}
.carousel{
  flex: 1;
}