body{
    background-color: #fffbf7;
}
.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
 
  }
  .header > * {
    display: inline-block;
    font-size: 16px;
  }
  li{
      display: inline;
  }
  a{
      text-decoration: none;
      color: rgba(0,0,0,.9);;
  }
h1{
    color: #025157;
    font-family: "Alegreya", serif;
    text-align: center;
}
h4{
    color: #46484c;
    text-align: center;

}
form{
    text-align: center;

}
button{
    color: #fff;
    background-color: #025157;
}
p{
    text-align: center;
}
img{
    display: block;
    margin:0px auto;
}
